
@font-face {
  font-family:"TheSansArabicBold";
  src: url("../fonts/Bahij_TheSansArabic-Bold.ttf") format("truetype");
  font-style:normal;
  }
  @font-face {
  font-family:"TheSansArabicSemi";
  src: url("../fonts/Bahij_TheSansArabic-SemiBold.ttf") format("truetype");
  font-style:normal;
  }
  @font-face {
  font-family:"TheSansArabic";
  src: url("../fonts/Bahij_TheSansArabic-Plain.ttf") format("truetype");
  font-style:normal;
  }