header.header {
    > .container {
      max-width: 1440px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 15px 0;
      .logo-wrap {
a{display: block;
img{
  height: 48px;
}}
      }
    .action-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 25px;
        .search-wrap {
          position: relative;
          .search-input {
            display: flex;
            padding: 10px 15px;
            border-radius: 99px;
            background: var(--bg);
            min-width: 300px;
            color: var(--color_lighter);
            font-size: 16px;
            line-height: 18px;
            height: 44px;
            border: none;
        }
        button{
          position: absolute;
          top: 9px;
          inset-inline-end: 10px;
          outline: none;
          border: 0;
          background: transparent;
          img{
            width: 24px;
            height: 24px;
          }
        }
      }
        nav.top-navbar {
          ul.navbar-nav {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: row;
            .nav-item{
              margin: 0 10px;
                &.language {
                  width: 48px;
                  height: 48px;
                  border-radius: 50px;
                  background: #F5F5F5;
                  color: #004A98;
                  text-align: center;
                  font-size: 26px;
                  line-height: 22px;
              }
              &.requests {
                width: 48px;
                height: 48px;
                border-radius: 50px;
                background: #F5F5F5;
                color: #004A98;
                text-align: center;
                font-size: 26px;
                line-height: 22px;
            }
            }
        }
        }
    }






    }
}
