@font-face {
  font-family: "TheSansArabicBold";
  src: url("../fonts/Bahij_TheSansArabic-Bold.ttf") format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "TheSansArabicSemi";
  src: url("../fonts/Bahij_TheSansArabic-SemiBold.ttf") format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "TheSansArabic";
  src: url("../fonts/Bahij_TheSansArabic-Plain.ttf") format("truetype");
  font-style: normal;
}
@keyframes menu-sub-dropdown-animation-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes menu-sub-dropdown-animation-move-up {
  from {
    margin-top: 0.75rem;
  }
  to {
    margin-top: 0;
  }
}
@keyframes menu-sub-dropdown-animation-move-down {
  from {
    margin-bottom: 0.75rem;
  }
  to {
    margin-bottom: 0;
  }
}
:root {
  --primary: #004A98;
  --secondary: #5EB3E4;
  --text_color: #404040;
  --color_light: #707070;
  --color_lighter: #909090;
  --color_grey:#88898a;
  --color-light-grey: #ccc;
  --white: #fff;
  --black: #121212;
  --black-half: rgba(0, 0, 0, 0.5);
  --white-half: rgba(255, 255, 255, 0.5);
  --box-shadow: 0px 10px 30px 0px rgba(82, 63, 105, 0.05);
  --border: #E6E6E6;
  --bg: #F5F5F5;
  --green: #0BB783;
  --red: #B00020;
  --orange: #FFC400;
  --border-radius:5px;
}

a {
  text-decoration: none;
  transition: 0.3s all ease;
}

::-webkit-scrollbar {
  width: 6px;
  background: var(--white);
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 3px;
  background-color: var(--border);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--light-grey);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:window-inactive {
  background: var(--primary);
}

::-moz-placeholder {
  color: var(--color_grey) !important;
  opacity: 1; /* Firefox */
}

::placeholder {
  color: var(--color_grey) !important;
  opacity: 1; /* Firefox */
}

::-ms-input-placeholder {
  /* Edge 12 -18 */
  color: var(--color_grey) !important;
}

.dropdown-item:active {
  background: var(--white);
  color: var(--primary);
}

*:focus {
  box-shadow: none !important;
}

body {
  font-family: "TheSansArabic";
  color: var(--text_color);
  background-color: var(--white);
  line-height: 150%;
}

a, button {
  transition-duration: 0.3s !important;
}

.container {
  max-width: 1440px;
  width: 100%;
}

/* LTR specific styles */
.ltr {
  direction: ltr;
  text-align: left;
}

/* RTL specific styles */
.rtl {
  direction: rtl;
  text-align: right;
}

header.header > .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header.header > .container .logo-wrap a {
  display: block;
}
header.header > .container .logo-wrap a img {
  height: 48px;
}
header.header > .container .action-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
}
header.header > .container .action-wrapper .search-wrap {
  position: relative;
}
header.header > .container .action-wrapper .search-wrap .search-input {
  display: flex;
  padding: 10px 15px;
  border-radius: 99px;
  background: var(--bg);
  min-width: 300px;
  color: var(--color_lighter);
  font-size: 16px;
  line-height: 18px;
  height: 44px;
  border: none;
}
header.header > .container .action-wrapper .search-wrap button {
  position: absolute;
  top: 9px;
  inset-inline-end: 10px;
  outline: none;
  border: 0;
  background: transparent;
}
header.header > .container .action-wrapper .search-wrap button img {
  width: 24px;
  height: 24px;
}
header.header > .container .action-wrapper nav.top-navbar ul.navbar-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
header.header > .container .action-wrapper nav.top-navbar ul.navbar-nav .nav-item {
  margin: 0 10px;
}
header.header > .container .action-wrapper nav.top-navbar ul.navbar-nav .nav-item.language a {
  width: 48px;
  height: 48px;
  border-radius: 50px;
  background: #f5f5f5;
  color: #004a98;
  text-align: center;
  font-size: 22px;
  line-height: 22px;
}
header.header > .container .action-wrapper nav.top-navbar ul.navbar-nav .nav-item.language a:hover {
  background: var(--color-light-grey);
}
header.header > .container .action-wrapper nav.top-navbar ul.navbar-nav .nav-item.requests a {
  width: 48px;
  height: 48px;
  border-radius: 48px;
  background: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
}
header.header > .container .action-wrapper nav.top-navbar ul.navbar-nav .nav-item.requests a:hover {
  background: var(--border);
}
header.header > .container .action-wrapper nav.top-navbar ul.navbar-nav .nav-item.tasks a {
  width: 48px;
  height: 48px;
  border-radius: 48px;
  background: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
header.header > .container .action-wrapper nav.top-navbar ul.navbar-nav .nav-item.tasks a:hover {
  background: var(--border);
}
header.header > .container .action-wrapper nav.top-navbar ul.navbar-nav .nav-item.tasks a .counter {
  position: absolute;
  top: -10px;
  inset-inline-start: 30px;
  background: var(--red);
  width: 24px;
  height: 24px;
  border-radius: 50%;
  text-align: center;
  color: var(--white);
  font-size: 16px;
}
header.header > .container .action-wrapper nav.top-navbar ul.navbar-nav .nav-item.favorite {
  width: 48px;
  height: 48px;
  border-radius: 48px;
  background: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
header.header > .container .action-wrapper nav.top-navbar ul.navbar-nav .nav-item.favorite:hover {
  background: var(--border);
}
header.header > .container .action-wrapper nav.top-navbar ul.navbar-nav .nav-item.user-panel {
  position: relative;
}
header.header > .container .action-wrapper nav.top-navbar ul.navbar-nav .nav-item.user-panel a {
  display: block;
}
header.header > .container .action-wrapper nav.top-navbar ul.navbar-nav .nav-item.user-panel a img {
  width: 80px;
  height: 80px;
  border-radius: 80px;
}
header.header > .container .action-wrapper nav.top-navbar ul.navbar-nav .nav-item.user-panel .dropdown-menu-user {
  min-width: 280px;
  animation: menu-sub-dropdown-animation-fade-in 0.3s ease 1, menu-sub-dropdown-animation-move-up 0.3s ease 1;
  z-index: 1;
  position: absolute;
  border: none;
  inset-block-start: 0;
  inset-inline-end: 55px;
  top: 55px;
  box-shadow: var(--box-shadow);
}
header.header > .container .action-wrapper nav.top-navbar ul.navbar-nav .nav-item.user-panel .dropdown-menu-user .user-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
header.header > .container .action-wrapper nav.top-navbar ul.navbar-nav .nav-item.user-panel .dropdown-menu-user .user-list ul li a {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: row;
  padding: 6px 15px;
  color: var(--grey);
}
header.header > .container .action-wrapper nav.top-navbar ul.navbar-nav .nav-item.user-panel .dropdown-menu-user .user-list ul li a:hover {
  color: var(--text_color);
  background: var(--bg);
}
header.header .header-menu {
  background: #004a98;
}
header.header .header-menu .navbar {
  padding: 0;
}
header.header .header-menu .navbar .navbar-toggler {
  background: transparent;
  border: none;
  padding: 10px;
}
header.header .header-menu .navbar .navbar-nav > li > a {
  color: #fff;
  font-size: 18px;
  line-height: 24px;
  padding: 13px 30px;
  display: block;
}
header.header .header-menu .navbar .navbar-nav > li > a.active {
  background: rgba(255, 255, 255, 0.15);
}
header.header .header-menu .navbar .navbar-nav > li > a:hover {
  background: rgba(255, 255, 255, 0.15);
}
header.header .header-menu .navbar .navbar-nav > li > ul {
  border-radius: 0;
  border: none;
  padding: 0;
  background: #004a98;
  margin-top: 0px;
  border-top: 1px solid rgba(13, 110, 253, 0.25);
}
header.header .header-menu .navbar .navbar-nav > li > ul li a {
  color: #fff;
  display: block;
  border-bottom: 1px dashed rgba(255, 255, 255, 0.15);
  padding: 10px 40px;
}
header.header .header-menu .navbar .navbar-nav > li > ul li a:hover {
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
}
header.header .header-menu .navbar .navbar-nav > li > ul li:last-child a {
  border: 0px;
}

.main-contents .main-banner {
  padding: 40px 0;
}
.main-contents .main-banner .banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-contents .main-banner .banner .banner-info {
  flex: 0 0 auto;
  width: 27%;
}
.main-contents .main-banner .banner .banner-info h2 {
  color: #0C1228;
  font-size: 42px;
  line-height: 54px;
  text-transform: capitalize;
  font-family: "TheSansArabicBold";
  padding: 15px 40px 15px 0;
}
.main-contents .main-banner .banner .banner-info p {
  color: #0C1228;
  font-family: "TheSansArabic";
  font-size: 20px;
  line-height: 28px;
}
.main-contents .main-banner .banner .banner-info button {
  border-radius: 5px;
  background: #004B96;
  border: 0;
  outline: none;
  padding: 13px 30px;
  color: #FFF;
  text-align: center;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  margin-top: 30px;
  transition: 0.3s;
}
.main-contents .main-banner .banner .banner-info button:hover {
  background: #3498db;
}
.main-contents .main-banner .banner .banner-img {
  flex: 0 0 auto;
  width: 65%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-contents .main-banner .banner .banner-img .img-col-1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.main-contents .main-banner .banner .banner-img .img-col-1 .img-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-contents .main-banner .banner .banner-img .img-col-1 .img-item .half {
  max-width: 193px;
  max-height: 172px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 15px;
}
.main-contents .main-banner .banner .banner-img .img-col-1 .img-item .full {
  max-width: 407px;
  max-height: 236px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 15px;
}
.main-contents .main-banner .banner .banner-img .img-col-1 .img-item img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  transition: all 0.5s ease-in-out;
}
.main-contents .main-banner .banner .banner-img .img-col-1 .img-item img:hover {
  transform: scale(1.1);
}
.main-contents .main-banner .banner .banner-img .img-col-2 .full {
  max-width: 479px;
  max-height: 427px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 15px;
}
.main-contents .main-banner .banner .banner-img .img-col-2 img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  transition: all 0.5s ease-in-out;
}
.main-contents .main-banner .banner .banner-img .img-col-2 img:hover {
  transform: scale(1.1);
}
.main-contents .services-sammary {
  border: 1px solid #EFF2F5;
  background: rgba(245, 248, 250, 0.5);
  padding: 35px 0;
}
.main-contents .services-sammary ul {
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
}
.main-contents .services-sammary ul li {
  flex: 0 0 auto;
  width: 32%;
}
.main-contents .services-sammary ul li a {
  border-radius: 5px;
  border: 1px solid #EFF2F5;
  background: #FFF;
  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.03);
  display: flex;
  padding: 28px;
  align-items: center;
}
.main-contents .services-sammary ul li a > div svg {
  width: 72px;
}
.main-contents .services-sammary ul li a h4 {
  margin: 0;
  padding: 0 10px;
}
.main-contents .services-sammary ul li a h4 span {
  color: #404040;
  font-size: 32px;
  line-height: 100%;
  font-family: "TheSansArabicSemi";
}
.main-contents .services-sammary ul li a h4 p {
  margin: 0;
  color: #707070;
  font-size: 22px;
  line-height: 100%;
  font-family: "TheSansArabicSemi";
}
.main-contents .services-sammary ul li a:hover {
  background: #f5f5f5;
}
.main-contents .tasks-requests-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
}
.main-contents .tasks-requests-wrapper .tasks {
  border-radius: 12px;
  border: 1px solid #E6E6E6;
  background: #FAFBFC;
  flex: 0 0 auto;
  width: 49%;
}
.main-contents .tasks-requests-wrapper .tasks .head {
  display: flex;
  min-height: 60px;
  padding: 15px 20px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #E6E6E6;
}
.main-contents .tasks-requests-wrapper .tasks .head h3 {
  color: #404040;
  font-family: "TheSansArabicSemi";
  font-size: 22px;
  line-height: 100%;
  margin: 0;
}
.main-contents .tasks-requests-wrapper .tasks .head a {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 74, 152, 0.3);
  border-radius: 5px;
  color: #004A98;
}
.main-contents .tasks-requests-wrapper .tasks .head a:hover {
  background: #004A98;
  color: #fff;
}
.main-contents .tasks-requests-wrapper .tasks .tasks-body .task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 12px 25px;
  transition-duration: 0.3s !important;
}
.main-contents .tasks-requests-wrapper .tasks .tasks-body .task-item .task-indicator {
  display: block;
  width: 4px;
  height: 70px;
  border-radius: 6px;
  position: absolute;
  left: 0;
}
.main-contents .tasks-requests-wrapper .tasks .tasks-body .task-item .task-indicator.red {
  background: #B00020;
}
.main-contents .tasks-requests-wrapper .tasks .tasks-body .task-item .task-indicator.orange {
  background: #FFC400;
}
.main-contents .tasks-requests-wrapper .tasks .tasks-body .task-item .task-indicator.green {
  background: #0BB783;
}
.main-contents .tasks-requests-wrapper .tasks .tasks-body .task-item .task-info .task-date {
  color: #707070;
  font-family: "TheSansArabicSemi";
  font-size: 14px;
  line-height: 100%;
}
.main-contents .tasks-requests-wrapper .tasks .tasks-body .task-item .task-info .task-title {
  margin: 0;
  color: #404040;
  text-align: right;
  font-family: "TheSansArabicBold";
  font-size: 16px;
  line-height: 100%;
  margin: 10px 0;
}
.main-contents .tasks-requests-wrapper .tasks .tasks-body .task-item .task-info .task-author {
  color: #909090;
  font-family: "TheSansArabic";
  font-size: 14px;
  line-height: 100%;
}
.main-contents .tasks-requests-wrapper .tasks .tasks-body .task-item .task-more {
  border-radius: 5px;
  background: rgba(0, 74, 152, 0.1);
  padding: 10px 20px;
  color: #004A98;
  text-align: center;
  font-family: "TheSansArabicBold";
  font-size: 16px;
  line-height: 100%;
}
.main-contents .tasks-requests-wrapper .tasks .tasks-body .task-item .task-more:hover {
  background: #004A98;
  color: #fff;
}
.main-contents .tasks-requests-wrapper .tasks .tasks-body .task-item:hover {
  background: #fff;
}
.main-contents .tasks-requests-wrapper .requests {
  border-radius: 12px;
  border: 1px solid #E6E6E6;
  background: #FAFBFC;
  flex: 0 0 auto;
  width: 49%;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background: linear-gradient(86deg, rgba(0, 75, 150, 0.75) 56.47%, rgba(94, 179, 228, 0.75) 146.7%), url(../images/img/login-bg.png), lightgray 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 992px) {
  .login {
    flex-direction: column;
  }
}
.login .login-section {
  display: flex;
  width: 460px;
  padding: 50px 0px;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background: #f5f5f5;
  position: relative;
  z-index: 1;
}
.login .login-section .frm-header img {
  display: block;
  margin: 0 auto 25px;
}
.login .login-section .switcher {
  position: fixed;
  top: 5%;
  inset-inline-end: 5%;
  cursor: pointer;
  z-index: 9;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  border: 1px solid #fff;
  padding: 15px 30px;
}
.login .login-section .switcher .lang-switch {
  margin: 0 5px;
}
.login .login-section .login-form .password-txt {
  position: relative;
}
.login .login-section .login-form .password-txt .ic-pass {
  position: absolute;
  top: 15px;
  inset-inline-end: 5%;
}
.login .login-section .login-form .password-txt .ic-pass i {
  font-size: 20px;
  color: #c8c9c7;
}
.login .login-section .login-form .form-control {
  border-radius: 5px;
  border: 1px solid #bdbdbd;
  background: #fafdf6;
  height: 50px;
  color: #404040;
  font-size: 16px;
}
.login .login-section .login-form .form-check {
  display: flex;
  align-items: center;
  align-content: center;
}
.login .login-section .login-form .form-check .form-check-input {
  border-radius: 3px;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.login .login-section .login-form .form-check label {
  color: #2d2a32;
  font-size: 16px;
  margin-inline-start: 10px;
}
.rtl .login .login-section .login-form .form-check label {
  margin-inline-start: 35px;
}
.login .login-section .login-form .btn-frm-submit {
  border-radius: 5px;
  background: #004b96;
  width: 100%;
  height: 60px;
  color: #fff;
  text-align: center;
  font-size: 18px;
}
.login .login-section .login-form .forgot-check {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #bdbdbd;
  text-align: center;
  color: #004b96;
  font-size: 16px;
}
.login::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  top: 9px;
  background: url(../images/img/logo-vector.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}/*# sourceMappingURL=styles.css.map */